
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageDejaVoter</title>
</head>
<body>
    <div> 
        <b>Vous avez deja voté</b>
    </div>
</body>
</html>
