USE [master]
GO
/****** Object:  Database [SondageBDD]    Script Date: 25/04/2019 09:03:15 ******/
CREATE DATABASE [SondageBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SondageBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SondageBDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SondageBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SondageBDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SondageBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SondageBDD]
GO
/****** Object:  Table [dbo].[Resultats]    Script Date: 25/04/2019 09:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultats](
	[ResultatChoix1] [int] NULL,
	[ResultatChoix2] [int] NULL,
	[ResultatChoix3] [int] NULL,
	[ResultatChoix4] [int] NULL,
	[NombreDeVotant] [int] NULL,
	[FK_Id_sondage] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sondage]    Script Date: 25/04/2019 09:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sondage](
	[IdSondage] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](250) NULL,
	[Choix1] [nvarchar](250) NULL,
	[Choix2] [nvarchar](250) NULL,
	[Choix3] [nvarchar](250) NULL,
	[Choix4] [nvarchar](250) NULL,
	[ChoixMultiple] [bit] NULL,
	[EtatDuSondage] [bit] NULL,
	[CleDeSecurite] [int] NULL,
 CONSTRAINT [PK_Sondage] PRIMARY KEY CLUSTERED 
(
	[IdSondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resultats]  WITH CHECK ADD  CONSTRAINT [FK_Resultats_Sondage] FOREIGN KEY([FK_Id_sondage])
REFERENCES [dbo].[Sondage] ([IdSondage])
GO
ALTER TABLE [dbo].[Resultats] CHECK CONSTRAINT [FK_Resultats_Sondage]
GO
USE [master]
GO
